/*Importando fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}
html{
    box-sizing: border-box;
    /*font-size: 62.5%;*/
}

*, *::before, *::after{
    box-sizing: inherit;
}
header{
    position: relative; /* Añade posicionamiento relativo */
    background: url(../img/mind3dinsta.jpg);
    background-size: contain;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
header h1{
    text-align: center;
    font-size: 40px;
    /* background-color: #000; */
    color: #000;
    padding: 20px 0;
}
body{
    background: linear-gradient(to bottom, #f2f2f2, #c0c0c0);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Otros Estilos */
h1, h2, h3 {
    color: #333;
  }

  /* Estilos de Secciones */
main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }

/* Estilos del encabezado */
h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 2.5rem;
    color: #333;
  }
p{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
}
img {
    width: 100%;
}

.contenedor {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /*oculto lo que queda fuera del contenedor*/
    contain: paint;
}
.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}

.contenedor .contenedor-items .item {
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .carrito-item .item .img-item {
    width: 100%;
}
.contenedor .contenedor-items .item:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.boton-item:hover{
    transform: scale(1.05);
    color: #ff0;
}

/* Estilos secciones */ 
#about p {
    line-height: 1.6;
  }
  
#team img {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 10px;
  } 

/*Barra de navegación*/
.navegacion{
    width: 100%;
    background: #333;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    position: relative;
    top: 0px;
    z-index: 1;
}
.navegacion a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: .3s;
    padding: 0 20px;
}
.navegacion a:active{
    color: yellow;
}
.navegacion a:hover{
    color: #ff0;
}
.navegacion a.activo{
    color: yellow;
}
nav a.activo {
    color: yellow;
  }
#about,
#team,
#location {
    margin: 40px 0;
  }
  
#team .team-member {
    text-align: center;
    margin: 20px;
  }
  
#team img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
#location {
    text-align: center;
  }

/*Nosotros*/
.nosotros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.nosotros-imagen{
    flex: 1;
}
.nosotros-contenido{
    flex: 1;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}
.nosotros-mapa{
    margin-top: 30px;
}

/*Bloques* de Nosotros*/
.comprar_titulo{
    text-align: center;
    margin-bottom: 30px;
    color: #000;
}
.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.bloque{
    text-align: center;
    padding: 20px;
    background-color: #666;
    border-radius: 10px;
}
.bloque__imagen{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}
.bloque__titulo{
    margin: 10px 0;
    color: #f2f2f2;
}
.bloque p{
    color: #f2f2f2;
    line-height: 1.6;
}

/*Sección Carrito*/
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
     /* Estilos para ocultar */
     margin-right: -100%;
     opacity: 0;
}
.carrito .header-carrito{
    background-color: #666;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #666;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Botón pagar */
.btn-pagar {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333; 
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: background .3s ease;
  }
  .btn-pagar:hover {
    background: #000;
    transform: scale(1.05);
  }

/* Estilos de Pie de Página */
.footer {
    background-color: #333;
    color: #fff;
    margin-top: 50px;
    padding: 10px 0;
  }
.footer__texto{
    text-align: center;
    font-size: 20px;
}

/* Estilos de Mapa */
#location iframe {
    width: 80%;
    height: 400px;
    border: none;
    border-radius: 10px;
  }

  /*REGISTRO*/
  .contenedor-registro{
    width: 100%;
    height: 100vh;
    background-color: #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedor-formulario{
    width: 100%;
    max-width: 450px;
    background-color: #2c2f35;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
  }
  .contenedor-formulario h1{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
    position: relative;
  }
  .contenedor-formulario h1::after{
    content: '';
    width: 30px;
    height: 4px;
    background-color: #04bd7d;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
  }
  .input-campo{
    background-color: #515966;
    margin: 19px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;;
    transition: max-height 0.5s;
    overflow: hidden;
  }
  input{
    width: 100%;
    padding: 18px 15px;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #fff;
  }
  input::placeholder{
    color: #fff;
  }
  .input-campo i{
    padding: 0 15px;
    color: #04bd7d;
    font-size: 18px;
  }
  form p{
    color: #fff;
    text-align: left;
    font-size: 13px;
    margin-top: 20px;
  }
  form p a{
    color: #04bd7d;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 700;
  }
  .btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btn-field button{
    flex-basis: 48%;
    font-size: 16px;
    background-color: #04bd7d;
    color: #fff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
  }
  .input-grupo{
    height: 250px;
  }
  .btn-field button.disable{
    background-color: #eaeaea;
    color: #2c2f35;
  }

/*seccion responsive*/
@media screen and (max-width: 850px){
    .contenedor{
        display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
    .navegacion{
        flex-direction: column;
    }
    .navegacion a{
        padding: 5px;
        text-align: center;
    }
}
@media (max-width: 700px) {
    #about,
    #team,
    #location {
      padding: 30px; 
      text-align: center;
    }
  
    #location iframe {
      width: 100%;
    }
  }

@media(min-width: 768px){
    .bloques{
        grid-template-columns: repeat(4, 1fr);
    }
}


@media(min-width: 768px){
    .nosotros{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}
